name: Lint VBA

on:
  push:
    branches:
      - dev
      - main
  pull_request:
jobs:
  test-and-static-analysis:
    name: Test and Static Analysis
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Precompile
      run: |
        python -m pip install --upgrade pip
        pip install 'vba_precompiler @ git+https://github.com/Beakerboy/VBA-Precompiler@dev'
        python -m vba_precompiler ./src
        rm -rf ./src
        cat ./build/Modules/ObjectIntrospection.bas
    - name: Lint
      uses: Vba-actions/lint-vba@dev
